header {
  background-color: #282c34;
  min-height: 30px;
  width: 100%;
  display: flex;/*flex*/
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  position: relative;
}

.App-header {
  position: relative;
  background-color: #282c34;
  min-height: 30px;
  width: 100%;
  display: flex;/*flex*/
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-header img {
  height: calc(10px + 2vmin);
}

#version-tag {
  position: absolute;
  bottom: 0;
  font-size: xx-small;
}


/*
nav {
  display: flex;
  position: absolute;
  left: 1px;
  align-content: center;
}*/