.App {
  display: flex;
  flex-direction: column;
  align-items: center;
}

header {
  background-color: #282c34;
  min-height: 5vh;
  width: 100vw;
  display: flex;/*flex*/
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-header {
  position: relative;
  background-color: #282c34;
  min-height: 5vh;
  width: 100vw;
  display: flex;/*flex*/
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-header img {
  height: calc(10px + 2vmin);
}

.Namefield {
  position: absolute;
  right: 10px;
}

nav {
  position: absolute;
  left: 1px;
}